.titulo-noticia{
    font-size: 16px;
    text-transform: uppercase;
    float: left;
    width: 90%;
}
.noticia-more{
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 4%;
  font-size: 25px;
}
.sub-date{
    display: inline-block;
}