<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <ion-slides [options]= "sliderOpts"
              *ngIf="_dataLocalService.noticias.length === 0">
    <ion-slide>
      <div>
        <ion-label>No has agregado ningun favorito</ion-label>
        <ion-icon name="heart-circle-outline" color="primary" ></ion-icon>
      </div>
    </ion-slide>
  </ion-slides>
  
  <app-noticias *ngIf="_dataLocalService.noticias.length > 0"
                [enFavoritos]= "true"
                [noticias]="_dataLocalService.noticias"
                >
  </app-noticias>
</ion-content>
